.alignment {
  font-size: 22px;
  position: relative;
  right: 300px;
  top: 34px;
  color: gray;
}

.alignment i {
  color: white;
}

.container {
  position: relative;
  top: 130px;
}
.skills {
  padding: 50px;
  background-color: white;
  color: black;
  border-radius: 33px;
}

.skills h2 {
  font-size: 30px;
  color: rgb(75, 74, 74);
}

.item {
  font-size: 17px;
  letter-spacing: 2px;
  /* width: 802px; */
  margin-top: 5px;
}

.skills_other {
  padding: 50px;
  color: white;
  margin-top: 28px;
  border-radius: 33px;
  border: 1px solid #564f4f;
  background-color: rgb(31, 30, 30);
}

.skills_other h2 {
  font-size: 30px;
  color: rgb(189, 183, 183);
}

.item_black {
  font-size: 17px;
  letter-spacing: 2px;
  /* width: 802px; */
  margin-top: 5px;
}

.skills_other_2 {
}

.skills_cotainer {
  width: 802px;
}
.image_container {
}

.image_container img {
  border-radius: 50px;
}

.icon {
  color: white;
}

.git_button {
  background-color: white;
  color: black;
  border-radius: 33px;
  padding: 18px;
  margin-top: 90px;
  margin-bottom: 90px;
  position: relative;
  right: 23px;
}

.text {
  font-size: 18px;
  color: gray;
  margin-right: 46px;
}

.text i {
  color: white;
}

.round {
  /* position: fixed;
  width: 500px;
  height: 500px;
  border: 1px solid white;
  border-radius: 500px;
  color: white; */
}

.top_corner::before {
  content: "";
  width: 600px;
  height: 600px;
  position: absolute;
  top: -455px;
  /* left: 1459px; */
  right: 12px;
  bottom: 7px;
  border: 1px solid gray;
  border-radius: 100%;
  z-index: -1;
}
